.header .content-container, .footer .content-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header .content-container .col, .footer .content-container .col {
  flex: 1;
  display: flex;
}

.header .content-container .col .content-box, .footer .content-container .col .content-box {
  width: 600px;
}

.header .content-container .col.left, .footer .content-container .col.left {
  justify-content: flex-end;
  margin-right: 25px;
}

.header .content-container .col.right, .footer .content-container .col.right {
  margin-left: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f4ede4;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #595959;
}

hr.hspacer {
  border-top: none;
  border-left: none;
  border-right: none;
}

a {
  text-decoration: none;
}

a.link-with-icon {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #5A2C3A;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

@media (hover: hover) {
  a.link-with-icon:hover {
    opacity: .8;
  }
}

a.link-with-icon .icon {
  opacity: .9;
}

a.link-with-icon .text {
  margin-left: 10px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #AD9AA6;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  transition: all .2s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  border: 1px solid #5A2C3A;
  outline: none;
}

textarea {
  height: 150px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #5A2C3A;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    opacity: .8;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 760px;
  padding-top: 30px;
  background-color: #615D52;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

.header p {
  color: #fff;
}

.header .menu-container .logo {
  margin-right: 20px;
  width: 360px;
  height: 163px;
  background: url(../img/logo.svg) no-repeat center center;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .header .menu-container .logo {
    width: 200px;
    height: 200px;
  }
}

.header .content-container {
  align-items: flex-end;
}

.header .content-container .col {
  align-items: flex-end;
}

.header .content-container .col.left .stripe {
  margin-right: 25px;
  margin-bottom: -30px;
  width: 600px;
  height: 14px;
  background-color: rgba(144, 120, 140, 0.7);
}

.header .content-container .col.right {
  padding-top: 35px;
}

.header .content-container .col.right .content-box {
  margin-bottom: -30px;
  height: 560px;
  padding: 60px 60px 50px;
  background-color: rgba(163, 184, 180, 0.6);
}

.header .content-container .col.right .content-box h1 {
  max-width: 400px;
  color: #fff;
}

.header .content-container .col.right .content-box p:first-of-type {
  margin-top: 30px;
}

.header .content-container .col.right .content-box hr.hspacer {
  margin: 15px -60px 15px 0;
  border-color: rgba(241, 232, 221, 0.3);
}

.main {
  padding-top: calc(30px + 40px);
  padding-bottom: calc(40px + 40px);
}

.main h1 {
  color: #595959;
}

.main .container {
  display: flex;
  margin: 0 auto;
  max-width: 1250px;
}

.main .container .col {
  padding-top: 40px;
}

.main .container .col .content-box {
  padding-left: 60px;
  padding-right: 60px;
}

.main .container .col.left {
  padding-right: 25px;
}

.main .container .col.right {
  padding-left: 25px;
}

.footer {
  background-color: #EADCC9;
}

.footer .content-container .col .content-box {
  padding: 60px;
}

.footer .content-container .col.left .content-box {
  display: flex;
  flex-direction: column;
}

.footer .content-container .col.left .content-box .contact-info-container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon {
  margin-top: 30px;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.tel-whatsapp {
  width: 40px;
  height: 40px;
  background: url(../img/icon-tel-whatsapp.svg) no-repeat center center;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.email {
  width: 40px;
  height: 30px;
  background: url(../img/icon-email.svg) no-repeat center center;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.facebook {
  width: 40px;
  height: 40px;
  background: url(../img/icon-facebook.svg) no-repeat center center;
}

.footer .content-container .col.right .content-box {
  margin-top: -30px;
  padding-top: 30px;
  background-color: #D2B48C;
}

.footer .content-container .col.right .content-box form {
  padding-top: 40px;
}

.footer .content-container .col.right .content-box form .row {
  padding-top: 20px;
}

.footer .content-container .col.right .content-box form .row label {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.footer .content-container .col.right .content-box form .row label + input[type=text],
.footer .content-container .col.right .content-box form .row label + input[type=email],
.footer .content-container .col.right .content-box form .row label + input[type=tel],
.footer .content-container .col.right .content-box form .row label + textarea {
  margin-top: 5px;
}
