.text-align-center {
  text-align: center;
}

.footer .content-container, body.page-home .header .content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container, body.page-home .header .content-container {
    width: 100vw;
  }
}

.footer .content-container .col, body.page-home .header .content-container .col {
  flex: 1;
  display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col, body.page-home .header .content-container .col {
    min-width: 100%;
  }
}

.footer .content-container .col .content-box, body.page-home .header .content-container .col .content-box {
  width: 600px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col .content-box, body.page-home .header .content-container .col .content-box {
    width: 100vw;
  }
}

.footer .content-container .col.left, body.page-home .header .content-container .col.left {
  justify-content: flex-end;
  padding-right: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col.left, body.page-home .header .content-container .col.left {
    padding-right: 0;
  }
}

.footer .content-container .col.right, body.page-home .header .content-container .col.right {
  margin-left: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col.right, body.page-home .header .content-container .col.right {
    margin-left: 0;
  }
}

a.link-with-icon .text {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f4ede4;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  h1,
  .h1 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

p,
.p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #595959;
}

ul li {
  position: relative;
  list-style-type: none;
  color: #595959;
}

ul li::before {
  position: absolute;
  left: -40px;
  display: inline-flex;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 2px solid #5A2C3A;
  content: "";
}

ul li::after {
  position: absolute;
  top: 8px;
  left: -32px;
  display: inline-flex;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 2px solid #5A2C3A;
  content: "";
}

strong {
  font-weight: 700;
  color: #000;
}

hr.hspacer {
  border-top: none;
  border-left: none;
  border-right: none;
}

a {
  text-decoration: none;
}

a.link-with-icon {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #5A2C3A;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

@media (hover: hover) {
  a.link-with-icon:hover {
    opacity: .8;
  }
}

a.link-with-icon .icon {
  opacity: .9;
}

a.link-with-icon .text {
  margin-left: 10px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #AD9AA6;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  transition: all .2s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  border: 1px solid #5A2C3A;
  outline: none;
}

textarea {
  height: 150px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #5A2C3A;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    opacity: .8;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .no-phone-portrait {
    display: none;
  }
}

section {
  padding-top: calc(30px + 40px);
  padding-bottom: calc(40px + 40px);
}

@media (min-width: 320px) and (max-width: 767px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

section.background-alternative {
  background-color: #EADCC9;
}

.container {
  width: 1250px;
  max-width: 1250px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .container {
    width: 100vw;
    max-width: 100vw;
  }
}

.stripe {
  height: 14px;
  background-color: rgba(144, 120, 140, 0.7);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
  background-color: #615D52;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

.header h1 {
  color: #fff;
}

.header p,
.header .p {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

.header .menu-container {
  width: 1250px;
  max-width: 1250px;
  display: flex;
}

.header .menu-container .logo {
  flex: 1;
  height: 163px;
  margin-right: 25px;
  background: url(../img/logo.svg) no-repeat center center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .menu-container .logo {
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .header .menu-container .logo {
    position: relative;
    width: 300px;
    height: 136px;
    z-index: 1;
  }
}

.header .menu-container nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 25px;
  max-width: calc(50% - 25px);
  padding-left: 60px;
  padding-right: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .menu-container nav {
    margin-left: 0;
  }
}

.header .menu-container nav a {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: opacity .2s ease-in-out;
}

.header .menu-container nav a .icon.home {
  margin-bottom: 10px;
  display: block;
  width: 30px;
  height: 34px;
  background: url(../img/icon-home.svg) no-repeat center center;
}

.header .menu-container nav a:not(:last-child) {
  margin-right: 40px;
}

@media (hover: hover) {
  .header .menu-container nav a:hover {
    opacity: .8;
  }
}

.header .content-container {
  align-items: flex-end;
}

.header .content-container .col {
  align-items: flex-end;
}

.header .content-container .col.content {
  padding-top: 35px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .content-container .col.content {
    padding-top: 0;
  }
}

.header .content-container .col.content .content-box {
  margin-bottom: -30px;
  padding: 60px 60px 50px;
  background-color: rgba(163, 184, 180, 0.6);
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .content-container .col.content .content-box {
    padding: 20px;
  }
}

.main h1 {
  color: #595959;
}

.main .container {
  display: flex;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .main .container {
    flex-wrap: wrap;
  }
}

.main .container .col {
  padding-top: 40px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .container .col {
    width: 100vw;
    padding-top: 30px;
  }
}

.main .container .col .content-box {
  padding-left: 60px;
  padding-right: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .container .col .content-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main .container .col.left {
  padding-right: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .container .col.left {
    padding-right: 0;
  }
}

.main .container .col.right {
  padding-left: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .container .col.right {
    padding-left: 0;
    padding-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  .main .container.single .col {
    padding-top: 10px;
  }
}

.footer {
  background-color: #EADCC9;
}

.footer .content-container .col .content-box {
  padding: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col .content-box {
    padding: 30px 20px;
  }
}

.footer .content-container .col.left .content-box {
  display: flex;
  flex-direction: column;
}

.footer .content-container .col.left .content-box .contact-info-container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon {
  margin-top: 30px;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.tel-whatsapp {
  min-width: 40px;
  height: 40px;
  background: url(../img/icon-tel-whatsapp.svg) no-repeat center center;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.email {
  min-width: 40px;
  height: 30px;
  background: url(../img/icon-email.svg) no-repeat center center;
}

.footer .content-container .col.left .content-box .contact-info-container .link-with-icon .icon.facebook {
  min-width: 40px;
  height: 40px;
  background: url(../img/icon-facebook.svg) no-repeat center center;
}

.footer .content-container .col.right .content-box {
  margin-top: -30px;
  padding-top: 30px;
  background-color: #D2B48C;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col.right .content-box {
    margin-top: 0;
  }
}

.footer .content-container .col.right .content-box .form-message {
  margin-left: -60px;
  margin-right: -60px;
  min-height: 40px;
  padding: 15px 60px;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content-container .col.right .content-box .form-message {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.footer .content-container .col.right .content-box .form-message.error {
  background-color: #d9534f;
}

.footer .content-container .col.right .content-box .form-message.success {
  background-color: #38761d;
}

.footer .content-container .col.right .content-box form .row {
  padding-top: 20px;
}

.footer .content-container .col.right .content-box form .row label {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.footer .content-container .col.right .content-box form .row label + input[type=text],
.footer .content-container .col.right .content-box form .row label + input[type=email],
.footer .content-container .col.right .content-box form .row label + input[type=tel],
.footer .content-container .col.right .content-box form .row label + textarea {
  margin-top: 5px;
}

body.page-home .header {
  height: 758px;
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-home .header {
    padding-top: 20px;
    justify-content: flex-start;
    height: fit-content;
  }
}

body.page-home .header .content-container .col.left.photo {
  height: 100%;
  background: url(../img/raluca-radu-psiholog-psihoterapeut.jpg) no-repeat bottom -25px right -25px;
  overflow: visible;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-home .header .content-container .col.left.photo {
    margin-top: -160px;
    height: 540px;
    background-position: bottom center;
    background-size: cover;
  }
}

body.page-home .header .content-container .col.left.photo .stripe {
  margin-right: 25px;
  margin-bottom: -30px;
  width: 600px;
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-home .header .content-container .col.left.photo .stripe {
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    width: calc(100vw - 20px);
  }
}

body.page-home .header .content-container .col.right.content .content-box {
  height: 560px;
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-home .header .content-container .col.right.content .content-box {
    padding-bottom: 40px;
    height: fit-content;
  }
}

body.page-home .header .content-container .col.right.content .content-box h1 {
  max-width: 400px;
}

body.page-home .header .content-container .col.right.content .content-box h1.p {
  margin-top: 30px;
}

body.page-home .header .content-container .col.right.content .content-box hr.hspacer {
  margin: 15px -60px 15px 0;
  border-color: rgba(241, 232, 221, 0.3);
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-home .header .content-container .col.right.content .content-box hr.hspacer {
    margin-right: -30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-mission .header .content-container {
    padding-top: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-mission .header .content-container .col.content .content-box {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .header .content-container .col.content .content-box h1.text-align-center {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-mission .main section.mission {
    padding-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.mission-container {
    flex-direction: column-reverse;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body.page-mission .main .container.mission-container .col.right.photo {
    padding-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.mission-container .col.right.photo {
    max-height: 340px;
    overflow: hidden;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.mission-container .col.right.photo img {
    width: 100vw;
  }
}

body.page-mission .main .container.vision-container {
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container {
    flex-wrap: wrap;
  }
}

body.page-mission .main .container.vision-container .container .col {
  flex: 1;
  padding-top: 0;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container .container .col {
    min-width: 100vw;
  }
}

body.page-mission .main .container.vision-container .container .col .stripe {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container .container .col .stripe {
    margin-left: 20px;
  }
}

body.page-mission .main .container.vision-container .container .col.left {
  padding-right: 10px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container .container .col.left {
    padding-right: 0;
  }
}

body.page-mission .main .container.vision-container .container .col.middle {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container .container .col.middle {
    padding-right: 0;
    padding-left: 0;
  }
}

body.page-mission .main .container.vision-container .container .col.right {
  padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.vision-container .container .col.right {
    padding-left: 0;
  }
}

body.page-mission .main .container.values-intro-container .col {
  padding-top: 0;
}

body.page-mission .main .container.values-container .col {
  flex: 1;
  padding-top: 0;
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.values-container .col.left .content-box ul {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {
  body.page-mission .main .container.values-container .col.right .content-box ul {
    margin-top: 0;
  }
}
