$smartphones-min-width: 320px;
$smartphones-max-width: 899px;
$smartphones-portrait-min-width: 320px;
$smartphones-portrait-max-width: 599px;
$smartphones-landscape-min-width: 480px;
$smartphones-landscape-max-width: 899px;
$tablet-min-width: 600px;
$tablet-max-width: 1199px;
$desktop-width: 1200px;

// Portrait and Landscape
@mixin phone {
  @media (min-width: #{$smartphones-min-width}) and (max-width: #{$smartphones-max-width}) {
    @content;
  }
}

// Portrait
@mixin phone-portrait {
  @media (min-width: #{$smartphones-portrait-min-width}) and (max-width: #{$smartphones-portrait-max-width}) and (orientation: portrait) {
    @content;
  }
}

// Landscape
@mixin phone-landscape {
  @media (min-width: #{$smartphones-landscape-min-width}) and (max-width: #{$smartphones-landscape-max-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

//* ----------- Tablets ----------- *//
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
